<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <httpRuntime maxRequestLength="2097152"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="image" connectionString="Data Source= localhost; Initial Catalog=Hololens; Integrated Security = True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
<!--ProjectGuid: E218A758-5361-484B-B222-2DA17992445F-->